.container {
    display: flex;
    width:100%;
    height: 100%;
    flex-direction: column;
    background-image: url("../../public/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    
}

.boxText{
    width:100%;
    display:flex;
    justify-content: flex-end;
    padding-right: 4rem;
    color: var(--Text);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    margin:8px;

}
.boxText h1{
    padding:0px;
    margin:0px;
}
.boxNames {
    width:100%;
    height: 95%;
    padding: 20px 20px;
    display:flex;
    align-items: center;
    justify-content:space-around;
    flex-wrap: wrap;
    overflow-y: auto;
}

.noAvaliation{
    width:40%;
}

@media (max-width: 500px){
    .boxText h1{
        font-size:1.3rem;
    }
}